:root {
    /* Main Colors */
    --dark-green: #2F4F4F;
    --light-brown: #D2B48C;
    --black: #000000;
    --cream: #F5F5DC;
  
    /* Complementary Colors */
    --soft-olive: #808000;
    --warm-beige: #F5DEB3;
    --deep-charcoal: #333333;
    --muted-sage: #778899;
  }

* {
    box-sizing: border-box;
    font-family: Roboto;
    /* border: 0.5px solid gray; */
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

@media only screen and (min-width: 950px) and (max-width: 2100px) {
   
    /* This is the Header */
    header {
        width: 100vw;
        background-color: var(--warm-beige);
        display: grid;
        grid-template-columns: 1fr 3;
        padding: 10px 20px;
        align-items: center;
        position: fixed;
        top: 0;
        opacity: 0;
        animation: drop-down 2s forwards 1s 1;
        z-index: 999;
    }

    @keyframes drop-down {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .logo {
        width: 12%;
        grid-column: 1 / 2;
    }

    nav {
        grid-column: 2 / 3;
        display: flex;
    }

    .nav-link {
        text-decoration: none;
        color: var(--deep-charcoal);
        margin: 0 10px;
        padding: 10px;
        border-radius: 20px;
        font-family: Poppins;
    }

    .nav-link.book {
        background-color: var(--deep-charcoal);
        color: var(--warm-beige);
    }

    .nav-link:hover {
        border: 0.5px solid var(--deep-charcoal);
    }

    /* This is the Hero Section */
    
    #welcome-section,
    .hero {
        height: 100vh;
        width: 100vw;
    }

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--warm-beige);
    }

    .hero-title-container {
        width: 80%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
    }

    .hero-title {
        font-family: Poppins;
        margin: 0;
        font-size: 7rem;
        -webkit-text-stroke: 2px var(--deep-charcoal);
        color: transparent;
        animation: hero-title 2s ease-out 0s 1;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-title.top,
    .hero-title.bottom {
        animation: hero-title-color 3s ease-out 0s 1;
        -webkit-text-stroke: 2px var(--deep-charcoal);
        color: var(--deep-charcoal);
    }

    @keyframes hero-title {
        0% {
            height: 0%;
        }

        100% {
            height: 40%;
        }
    }

    @keyframes hero-title-color {
        0% {
            -webkit-text-stroke: 2px black;
            color: transparent;
        }

        100% {
            -webkit-text-stroke: 2px var(--deep-charcoal);
            color: var(--deep-charcoal);
        }
    }

    .icon i {
        position: absolute;
        right: 45%;
        bottom: 8%;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40%;
        background-color: var(--light-brown);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        animation: fade-in 1.5s forwards 3s 1;
        opacity: 0;
    }

    .icon i:hover {
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
        transform: translateY(-2px);
    }

    .icon i:active {
        transform: translateY(1px); /* Pressed effect */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .button-hero {
        text-decoration: none;
        color: var(--deep-charcoal);
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    /* This is the Sub-Hero (idk how they call that) */
   
    #punchline,
    .sub-hero {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 100vh;
        flex-direction: column;
        background-color: var(--deep-charcoal);
        color: var(--warm-beige);
        position: relative;
    }

    .sub-hero {
        margin-top: 10vh;
    }

    .sub-hero h2 {
        margin: 10px 0;
    }

    /* Container for buttons */
    .button-container {
        display: flex;
        position: absolute;
        gap: 20px;
        bottom: 20vh; 
        align-items: center;
    }

    .button-container .btn {
        background-color: var(--light-brown);
        color: var(--deep-charcoal);
        font-family: Poppins;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 50px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 150px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button-container .btn:hover {
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
        transform: translateY(-2px);
    }

    .button-container .btn:active {
        transform: translateY(1px); /* Pressed effect */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    /* This is My Projects Session */

    #projects {
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 70px;
        background-color: var(--deep-charcoal);
        overflow: auto;
    }

    .project-parent {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        background-color: var(--deep-charcoal);
        /* border: 2px dotted dodgerblue; */
        padding-left: 30px;
    }

    .project-sub-parent {
        display: grid;
        grid-template-columns: 1fr 1.2fr;
        /* border: 3px dotted var(--light-brown); */
        align-items: center;
    }

    .project-page-title,
    .project-page-subtitle {
        color: var(--warm-beige);
    }

    .project-page-title {
        font-size: 4rem;
        font-family: Roboto;
        font-weight: 1000;
        margin-bottom: 50px;
        margin-left: 2%;
    }

    .project-page-subtitle {
        margin-bottom: 50px;
        font-family: Roboto;
        width: 47.5%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        left: 52%;
        text-align: center;
    }

    .project-page-subtitle p {
        margin: 2px;
        width: 100%;
    }

    .huy-link {
        text-decoration: none;
        color: inherit;
    }

    .huy-link:hover {
        background-color: var(--dark-green);
        border-radius: 5px;
        padding: 5px;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
        transform: translateY(-2px);
    }

    .huy-link:active {
        transform: translateY(1px); /* Pressed effect */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    /* Numbers on the left */
    .projects-number {
        color: var(--cream);
        font-family: Roboto;
        font-size: 1000%;
    }

    /* The Projects on the right */
    .project {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        width: 90%;
        /* border: 1px solid pink; */
        justify-self: end;
    }

    .project-link {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
        /* border: 1px solid red; */
    }

    .project-img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        grid-row: 1 / 2;
        /* border: 1px solid green; */
    }

    .project-img:hover {
        cursor: url("assets/cursor-custom.png"), auto;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
        transform: translateY(-2px);
    }

    .project-img:active {
        transform: translateY(1px); /* Pressed effect */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .project-title {
        grid-row: 2 / 3;
        color: var(--cream);
        font-size: 220%;
        font-family: Roboto;
        font-weight: bold;
        /* border: 1px solid blue; */
    }


/* This is the Profile Section */

    #profile {
        padding: 3%;
        padding-top: 80px;
        padding-bottom: 4%;
        height: 100vh;
        background-color: var(--cream);
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 0.7fr 0.2fr 1fr;
        align-items: center;
        position: relative;
        overflow: hidden;
    }

    .arrow-down {
        position: absolute;
        left: 3%;
        top: 10%;
        transform: rotate(45deg);
    }

    .arrow-down i {
        font-size: 4rem;
        color: transparent;
        -webkit-text-stroke: 2px var(--deep-charcoal);
    }

    .profile-img {
        grid-area: 2 / 1 / 4 / 2;
        width: 100%;
        height: 100%;
        /* border: 2px dotted black; */
        justify-content: center;
        align-items: center;
    }

    .headshot {
        height: 100%;
        border-radius: 10px;
    }

    .profile-title {
        width: 100%;
        height: 100%;
        /* border: 1px dotted blue; */
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        flex-direction: column;
    }

    .profile-title-text {
        color: var(--deep-charcoal);
        font-weight: bold;
        font-size: 8vw;
        width: 100%;
        height: 100%;
        margin: 0;
        font-family: 'Arial';
        letter-spacing: -0.6vw;
        line-height: 5.7rem;
    }

    .profile-subtitle {
        width: 100%;
        height: 100%;
        /* border: 2px dotted red; */
        grid-area: 2 / 2 / 3 / 3;
        padding-top: 3px;
    }
    
    .profile-subtitle-text {
        font-family: Arial;
        letter-spacing: -0.11vw;
        margin: 0;
        font-size: 2.6vw;
        color: var(--deep-charcoal);
    }

    .profile-bottom-right {
        width: 100%;
        height: 100%;
        /* border: 2px dotted green; */
        grid-area: 3 / 2 / 4 / 3;
        display: flex;
        justify-content: space-between;
        padding-right: 15%;
    }

    .personal-info {
        width: 25%;
    }

    .about-me {
        text-align: left;
        font-family: Arial;
        color: var(--deep-charcoal);
        opacity: 0.8;
    }

    .socials {
        width: 75%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        text-align: center;
    }

    .social-media > i {
        text-decoration: none;
        color: black;
        width: 80%;
        font-size: 1.2rem;
        opacity: 0.8;
    }

    .social-media > i:hover {
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
        transform: translateY(-2px);
    }

    .social-media > i:active {
        transform: translateY(1px); /* Pressed effect */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .profile-text {
        width: 75%;
        padding-left: 5px;
    }

    .profile-text p {
        font-family: Arial;
        font-weight: normal;
        letter-spacing: -0.05vw;
        line-height: 1.3rem;
        color: var(--deep-charcoal);
        opacity: 0.8;
    }

    .bold {
        font-family: Arial;
        font-weight: bold;
        letter-spacing: -0.05vw;
    }
}
